<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('./partials/head.ejs') %>
  <body>
    <header id="header">
      <p id="logo">PETisco</p>
    </header>

    <div id="bodyContainer">
      <div id="confirmContainer">
        <h3>PETlover!</h3>
        <p>O formulário foi enviado com sucesso.</p>
        <p>
          Parabéns, agora você também é um PETlover. Em breve responderemos sua
          dúvida, pelo e-mail informado. Por isso, fique atento e não esqueça de
          conferir o spam.
        </p>
        <p>Agradecemos sua atenção!!!</p>
      </div>
    </div>
  </body>
</html>
